.degradado {
    background: linear-gradient(45deg, #3a3232, #0c0a0a);
    background-clip: text;
    text-decoration: solid;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.46);
    text-align: center;
    border-radius: 3px;
  }

.contenedor{
display: flex;
align-items: center;
}

.parrafo{
flex: 1;
color: #ffffff;
margin-left: 19px;
}
img{
    margin-left: 20px;
    max-width: 300px;
}

  
.links{
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulo {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 39px;
border-left: 11px;
color: #ffffff;

}


.navbar-nav .nav-link{
    color:white
}

.parallax-shadow-title {
    position: relative;
    color: #898686; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 39px;
    text-align: center;
  }
  
  .parallax-shadow-title::after {
    content: attr(data-text);
    position: absolute;
    top: 2px;
    left: 2px;
    color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    text-shadow: none;
  }
  
  
  

  .boton-acordeon {
    background-color: #4b404095;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: arial;
    max-width: 600px;
    margin: 0 auto;
    align-items: left;
    border-radius: 4px;
    margin-bottom: 9px;
    margin-left: 19px;
    
}


.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #e5d3d3;
}

.accordion-content.show {
    max-height: 100%; 
}
