.degradado {
    background: linear-gradient(45deg, #d46363, #000000);
    background-clip: text;
    text-decoration: solid;
    -webkit-text-fill-color:rgb(16, 13, 13);
    text-align: center;
    border-radius: 3px;
  }

.contenedor{
display: flex;
align-items: center;
}

.parrafo{
flex: 1;
}
img{
    margin-left: 20px;
    max-width: 300px;
}

  
.links{
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulos {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 39px;
border-left: 11px;

}
